*{
    font-family: 'Cormorant Garamond', serif;
}

.NavBar {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 77%, rgba(3, 39, 46, 1) 100%);
}

.body {
    padding: 50px 15px 5px;
    height: 913px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);    
}


.informacion {
    height: 300px;
    width: 100%;
    text-align: center;
}

.nombre {
    font-size: 2cm;
}

.profesion {
    font-size: 1cm;
}

.nombre,
.profesion {
    color: white;
}

.foto {
    text-align: center;
}

.inicio {
    text-align: center;
    color: aliceblue;
    padding: 140px;
    border-style: solid;
    border-color: black;    
    background-image: url("../img/about.gif");
}
.aboutInicio{
    color: aliceblue;
    width: 100%;
    padding: 50px 15px 50px;    
    text-align: center;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);     
}
.aboutImg{
    padding: 20px 15px 20px;    
    width: 650px;
    height: 550px;    
    float: left;
}
.aboutInfo{
    padding: 20px 15px 20px;    
    width: 650px;
    height: 550px;    
    float: left;

    
}
.descripcion{
    font-size: 130%;
}
h1:hover{
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2:hover{    
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p:hover{
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
