.NavBar{     
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 77%, rgba(3,39,46,1) 100%); 
}
.body{
    padding: 50px 15px 5px;    
    height: 910px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
.informacion{
    height: 300px;
    width: 100%;
    text-align: center;     
}
.nombre{
    font-size: 2cm;
}
.profesion{
    font-size: 1cm;
}
.nombre , .profesion{
    color: white;
}
.foto{
    text-align: center;
}