.project-section{
  margin: 4vw 4vw;
  border-top: 2px solid #28C76F;  
}

.project-datas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-cards {
  margin: 2vw;
  width: 100vw;
}