.skills{
  margin: 4em;
  border-top: 2px solid #28C76F;
  height: 80vh;  
}

h2 {
  font-size: 3vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.card {  
  border: 2px solid whitesmoke;
  border-radius: 5%;
  margin: 3vw;
  width: 20vw;
  height: 20vw;
}

figcaption {
  display:none; 
  transition: all .5s;
}
/* Visible texto */
div:hover > figcaption {
  display:block;
  transition: all .5s;
}