.section-contact{
  margin: 4em;
  border-top: 2px solid #28C76F;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

* {outline: none !important;}
textarea:focus, input:focus {outline: none !important;}

a {color: white; font-family: arial; text-decoration: none;}
